<h1>New recipe</h1>

<%= render "form", recipe: @recipe %>

<br>

<div>
  <%= link_to "Back to recipes", recipes_path %>
</div>

<script>
console.log('dsfsdf')
CKEDITOR.disableAutoInline = true;
  CKEDITOR.config.toolbar = [{
	name: 'editing',
	items: ['Scayt', 'Cut', 'Copy', 'Paste', 'Bold', 'Italic', 'Underline']
}];

CKEDITOR.replace('recipe_description', {
  scayt_autoStartup: true,
  grayt_autoStartup: true
});
</script>